@import url("https://fonts.googleapis.com/css?family=Monoton");

body {
    // VARIABLES -------------------------------------------------------------------------------------------------------

    // color palette
    $black: #010101;
    $blue: #00ACE7;
    $pink: #E8048B;
    $gray: #CECECE;
    $white: #efefef;

    // dimensions
    $width: 150px;

    // font
    $font: sans-serif;
    $spacing: 1px;

    // body styling
    // padding-top effectively controls the margin-top of the h1
    padding-top: 32px;
    height: 100vh;
    background-color: $black !important;
    overflow-x: hidden;

    &:not(script) {
        // GENERALS ----------------------------------------------------------------------------------------------------

        /*
        // border ALL THE THINGS!
        * {
            border: 1px solid white;
        }
        */

        display: block;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 0 !important;
        background-color: transparent;
        color: $white;
        font-family: $font !important;
        letter-spacing: $spacing !important;
        text-align: center;

        input,
        button,
        span,
        .inline-block {
            display: inline-block !important;
            outline: none !important;
        }

        input:not(._durInp) {
            background-color: $white !important;
        }

        button {
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer !important;
            transition: background-color 200ms;

            &:active {
                transform: scale(0.95);
            }
        }

        button.addBtn,
        button.genBtn,
        button.printBtn {
            margin-top: 24px;
            padding: 12px 32px;
            background-color: $blue;
            color: $white;
            border: none !important;

            &:focus,
            &:hover,
            &:active {
                background-color: $pink;
            }
        }

        // SPECIFICS ---------------------------------------------------------------------------------------------------

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url("../assets/logo.jpg") no-repeat center 200px / 420px;
            background-attachment: fixed;
            box-shadow: inset 0 -16px 32px darken($pink, 20%);
            opacity: 0.8;
            transform: translate(-2px);
        }

        h1 {
            margin: 0 auto 32px;
            color: white !important;
            font-family: monoton, sans-serif !important;
            font-size: 64px;
            letter-spacing: $spacing !important;
            text-shadow: 0 1px 16px rgba(255, 255, 255, 0.9);
        }

        nav {
            ul {
                display: flex;
                justify-content: space-around;
                margin: 0;
                margin-bottom: 32px;

                li {
                    display: inline-block;
                    padding: 12px 32px;
                    color: $blue;
                    font-weight: bold;
                    border: 2px solid darken($white, 20%);
                    border-radius: 2px;
                    box-shadow: 0 1px 16px rgba(255, 255, 255, 0.5);
                    cursor: pointer;

                    &:focus,
                    &:hover,
                    &:active {
                        text-shadow: 0 1px 32px $white;
                        box-shadow: 0 1px 64px $pink;
                    }
                }
            }
        }

        // initially hidden

        .view,
        .add,
        .gen {
            display: none;
        }

        // used to show active area... controlled by js

        .active {
            display: block;
        }

        // view/del ----------------------------------------------------------------------------------------------------

        .all-songs {
            margin-top: 16px;
        }

        // "click (X) to delete"
        .instructions {
            margin-bottom: 16px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .del {
            margin-right: 4px;
            letter-spacing: 0;
        }

        .del:hover {
            color: $pink;
        }

        .del::selection {
            background: none;
        }

        .song {
            cursor: default;

            input {
                margin: 0;
                padding: 0;
                width: 2em;
                background-color: transparent;
                color: $white;
                border: none;
                cursor: pointer;

                &:focus,
                &:hover {
                    color: $pink;
                }
            }
        }

        .view h4 {
            margin-top: 20px;
            font-style: italic;
        }

        // add ---------------------------------------------------------------------------------------------------------

        label {
            width: 128px;
            color: $white;
            font-weight: bold;
            text-align: left;
        }

        input {
            width: $width;

            &.title {
                width: $width * 4.140625;
            }
        }

        // gen ---------------------------------------------------------------------------------------------------------

        .gen {
            label {}

            input.maxSetTime {}

            button.genBtn {
                margin: 0 auto 24px;
            }

            button.printBtn {
                position: fixed;
                bottom: 32px;
                right: 32px;
                width: 0;
                height: 0;
                padding: 32px;
                border-radius: 50%;
                transform: translate(200%);
                transition: transform 333ms ease-out;

                i {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 24px;
                    font-weight: bold;
                    transform: translateX(-50%) translateY(-50%);
                }
            }

            h4.total-set-time {
                margin-top: 20px;
                font-style: italic;

                span {}
            }
        }
    }
}
