body {
    // VARIABLES -------------------------------------------------------------------------------------------------------

    // color palette
    $black: #010101;
    $blue: #00ACE7;
    $pink: #E8048B;
    $gray: #CECECE;
    $white: #efefef;

    // dimensions
    $width: 150px;

    // body styling
    height: 100vh;
    background-color: $black !important;
    overflow-x: hidden;

    &:not(script) {
        // GENERALS ----------------------------------------------------------------------------------------------------

        display: block;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 0 !important;
        background-color: transparent;
        color: $white;
        text-align: center;

        // border: 1px solid $gray;

        input,
        button,
        span,
        .inline-block {
            display: inline-block !important;
            outline: none !important;
        }

        button {
            border: none;
            font-weight: bold;
            cursor: pointer !important;
        }

        // SPECIFICS ---------------------------------------------------------------------------------------------------

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url("../assets/logo.jpg") no-repeat center -16px / 400px;
            background-attachment: fixed;
            transform: translate(6px);
        }

        h1 {
            margin: 16px auto;
        }

        nav {
            ul {
                li {
                    display: inline-block;
                    padding: 12px 32px;
                    color: $blue;
                    font-weight: bold;
                    border: 1px solid $blue;
                    cursor: pointer;

                    &:focus,
                    &:hover,
                    &:active {
                        color: $pink;
                        border-color: $pink;
                    }
                }
            }
        }

        .view, .add, .gen {
            display: none;
        }

        .active {
            display: block;
        }

        // view/del ----------------------------------------------------------------------------------------------------

        .all-songs {
            margin-top: 16px;
        }

        // click (X) to delete
        .instructions {
            margin-bottom: 16px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .del {
            margin-right: 4px;
        }

        .del:hover {
            color: $pink;
        }

        .del::selection {
            background: none;
        }

        .view h4 {
            margin-top: 20px;
            font-style: italic;
        }

        // add ---------------------------------------------------------------------------------------------------------

        label {
            width: 100px;
            color: $white;
            font-weight: bold;
            text-align: left;
        }

        input {
            width: $width;

            &.title {
                width: $width * 4.140625;
            }
        }

        button.addBtn, button.genBtn {
            margin-top: 24px;
            padding: 12px 32px;
            background-color: $blue;
            color: $white;
            border: none !important;

            &:focus,
            &:hover,
            &:active {
                background-color: $pink;
            }
        }

        // gen ---------------------------------------------------------------------------------------------------------

        button.genBtn {
            margin: 16px auto 24px;
        }
    }
}
